{% extends 'html/header.html'%}
{% block title %}aboutus{% endblock %}
{% block content %}
<div class="container">
	<div class=" card row-md-6 mx-auto mt-4 bg-dark">
		<div class="card-body">
		<h3 class="text-center text-light mt-2">This webpage is the best platform for the farmer to sell their products/crops. Its purpose is to give profit to the farmer. It allows the farmer to sell their crop at their own price. It provides direct communication between farmers and customers. The farmer will get more profit as compared to the manual existing system. The farmer need not go to the market for selling products. The market assigns multiple taxes in farmer product but our webpage avoid multiple taxes and give profit to the farmer and natural food to customers.</h3>
		
		</div>
	</div>
</div>
{% endblock %}