{% extends 'html/header.html' %}
{% block title %}Contact us{% endblock %}
{% block content %}
<div class="container">
	<div class=" card row-md-6 mx-auto mt-4 bg-dark">
		<div class="card-body">
		<h3 class="text-center text-light mt-2"> Please feel free to reach out us if you have any queries.</h3><br/>
		<h3 class="text-center text-light mt-2"><span class="glyphicon">&#xe182;</span> Contact us at 9876543210</h3><br/>
		<h3 class="text-center text-light mt-2"> Write us at farmekart@gmail.com</h3><br/>
		<h3 class="text-center text-light mt-2"> Facebook at farmekartshopping</h3><br/>
		<h3 class="text-center text-light mt-2"><i style='font-size:24px' class='fab'>&#xf099;</i> Tweet us at farmekart@123</h3><br/>
		</div>
	</div>
</div>
{% endblock %}