{% extends 'html/header.html' %}
{% load static %}
{% block title %} Farmer Dashboard {% endblock %}
{% block content %}
<img src="{% static 'images/farmer login.png' %}" height="180px" width="150px" class="rounded-circle float-left">
<div class="container">
	<div class="row mt-4">
		<div class="card col mx-1">
			 <div class="card-body">
			 	<h3>Vegetables</h3>
			 </div>
		</div>
		<div class="card col mx-1">
			 <div class="card-body">
			 	<h3>Fruits</h3>
			 </div>
		</div>
	</div>

</div>
{% endblock %}