{% extends 'html/header.html' %}
{% block content %}
{% load static %}

	<div class="jumbotron mt-4 ">
		<h3 class="text-center bg-success">FarMeKart HomePage</h3>
	</div>
	  
<body> 

 <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 400px;
  }
  </style>
<div id="demo" class="carousel slide " data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/b.jpg' %}" width="100%" height="50px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/a.jpg' %}" width="100%" height="50px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/c.jpg' %}"  width="100%" height="50px">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
</html>


</div>
{% endblock %}