{% extends 'html/header.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-7 bg-info mx-auto shadow-lg mt-4">
		<h3 class="mx-auto mt-3">Registration</h3>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for i in h %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
				</table>
				<div class="row">
					<div class="col">
						<a href="{% url 'lgo' %}" class="my-2 btn col-sm btn-dark">Cancel</a>
					</div>
					<div class="col">
						<input type="submit" value="Subscribe" class="form-control my-2 col-sm btn btn-success">	
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}